.btn{
	.fp;
	.border-radius(5px);
	-webkit-box-shadow: inset -2px -2px 4px fade(#000,50),inset 2px 2px 4px fade(#fff,50);
	-moz-box-shadow: inset -2px -2px 4px fade(#000,50),inset 2px 2px 4px fade(#fff,50);
	box-shadow: inset -2px -2px 4px fade(#000,50),inset 2px 2px 4px fade(#fff,50);
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: @input-height;
	line-height: @input-height;
	font-size: @fsp;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	text-transform: uppercase;
	background: @cl;
	&:hover{
		background: darken(@cl,10%);
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: darken(@cl,10%);
		}
	}
}