// fonts
.fp {font-family: 'Raleway',sans-serif;} // font primary
.fh {font-family: 'Raleway',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #000000;
@c2: #00388c;
@c3: #007966;
@c4: #81ad15;
@c5: #2e8f7f;
@c6: #85b119;
@c7: #3360a3;
@c8: #e86639;

@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 17px; // font size primary

// line heights
@lhh: 1; // line height header
@lhp: 1.2; // line height primary

// form
@input-size: 15px;
@input-height: 34px;
@input-padding: 15px;
@input-border: #e2e2e2;
@input-bg: #fff;

// layout
@content-width: 980px;
@content-width-md: 1000px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 0;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";
@xxs: ~"(max-width: 479px)";