#page-header {
	.box-shadow(0 0 8px #000);
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	background: fade(#fff,80);
	@media @sm, @xs {
		position: relative;
	}
	.logo {
		float: left;
		width: 200px;
		margin: 12px 0;
		@media @sm {
			margin-top: 30px;
		}
		@media @xs {
			float: none;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		a {
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}
}
.mod_menu-main {
	float: left;
	width: 580px;
	margin: 24px 0 20px;
	padding: 0 22px 0 0;
	text-align: right;
	@media @sm {
		width: auto;
		float: none;
		padding: 0;
		margin-top: 0;
		float: right;
	}
	@media @xs {
		float: none;
		width: auto;
		text-align: center;
		padding: 0;
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			padding: 0 0 0 26px;
			margin: 0 23px 0 0;
			font-weight: 500;
			@media @sm {
				margin: 0 0 0 20px;
			}
			@media @xs {
				padding: 0;
				margin: 0 5px 5px;
			}
			&:first-child {
				margin-left: 0;
				&:before{
					display: none;
				}
			}
			&:before{
				.rotate(10deg);
				height: 18px;
				top: -1px;
				border-left: 1px solid @c2;
				@media @xs {
					display: none;
				}
			}
			a {
				text-decoration: none;
				color: @c1;
				&:hover{
					color: @c2;
				}
			}
			&.act {
				a {
					color: @c2;
				}
			}
		}
	}
}
.mod_search {
	width: 200px;
	float: right;
	margin: 20px 0;
	@media @xs {
		float: none;
		margin: 10px auto;
	}
	[type="text"], [type="search"] {
		.placeholder(#fff);
		.border-radius(7px);
		color: #fff;
		height: 26px;
		font-size: 14px;
		text-transform: uppercase;
		background: #797979;
		float: left;
		margin: 0 -30px 0 0;
	}
	button {
		.box-shadow(none);
		position: relative;
		font-size: 0;
		padding: 0;
		width: 30px;
		height: 26px;
		line-height: 26px;
		text-align: left;
		background: transparent;
		&:before{
			.fi;
			content: '\e808';
			font-size: 16px;
		}
	}
}
.mod_custom-header-main, .mod_custom-header {
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding: 110px 0 0;
	min-height: 345px;
	background: #fff url(../images/bg/02.png) no-repeat left bottom;
	@media @sm, @xs {
		background-image: none;
	}
	.mod-title {
		position: relative;
		z-index: 101;
		text-align: right;
		margin: 0 0 35px;
		h1, h2 {
			position: relative;
			display: inline-block;
			text-transform: uppercase;
			margin: 0;
			font-size: 24px;
			font-weight: 500;
			background: fade(#fff,50);
			padding: 9px 0 7px 5px;
			&:before{
				content: '';
				position: absolute;
				left: 100%;
				top: 0;
				bottom: 0;
				width: 9999em;
				background: fade(#fff,50);
			}
		}
	}
	.slider {
		position: absolute;
		top: 0;
		left: 50%;
		width: 3000px;
		margin: 0 0 0 -1500px;
		height: 345px;
		text-align: center;
		background: #fff;
		overflow: hidden;
		&:before{
			.box-shadow(inset 0 0 6px #000);
			content: '';
			position: absolute;
			z-index: 101;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.item {
			width: 100%;
			height: 345px;
			img {
				display: block;
				margin: auto;
				max-height: 100%;
				width: auto!important;
			}
		}
	}
	.items {
		position: relative;
		z-index: 101;
		text-align: right;
		padding: 0 0 38px;
		@media @xs {
			text-align: center;
		}
		.item {
			.box-shadow(2px 2px 6px #000);
			position: relative;
			display: inline-block;
			width: 246px;
			margin: 0 0 0 -5px;
			vertical-align: top;
			text-align: left;
			background: @c2;
			min-height: 160px;
			@media @xs {
				margin: 0 -2px;
			}
			&:nth-child(1) {
				margin-left: 10px;
				@media @sm {
					margin-left: -5px;
				}
				@media @xs {
					margin: 0 -2px;
				}
			}
			&:nth-child(1) { z-index: 10; }
			&:nth-child(2) { z-index: 9; }
			&:nth-child(3) { z-index: 8; }
			&:nth-child(4) { z-index: 7; }
			&:nth-child(5) { z-index: 6; }
			&:nth-child(6) { z-index: 5; }
			&:nth-child(7) { z-index: 4; }
			&:nth-child(8) { z-index: 3; }
			&:nth-child(9) { z-index: 2; }
			&:nth-child(10) { z-index: 1; }
			&.item_01 h2 { background: @c2; }
			&.item_02 h2 { background: @c3; }
			&.item_03 h2 { background: @c4; }
			&.item_04 h2 { background: @c5; }
			&.item_05 h2 { background: @c6; }
			&.item_06 h2 { background: @c7; }

			a {
				text-decoration: none;
				color: @c1;
				&:hover{
					.content {
						top: 32px;
					}
				}
			}
			h2 {
				.box-shadow(2px 2px 6px #000);
				position: relative;
				z-index: 2;
				height: 32px;
				min-height: 32px;
				padding: 9px 10px 0;
				margin: 0;
				color: #fff;
				background: @c2;
				text-transform: uppercase;
				font-size: 15px;
				text-align: center;
				font-weight: 500;
			}
			figure {
				img {
					display: block;
				}
			}
			.content {
				.transition(0.1s);
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 0 10px 0 30px;
				background: #dedede;
				background: -moz-linear-gradient(top,  #dedede 0%, #f8f8f8 25%, #f8f8f8 75%, #dedede 100%);
				background: -webkit-linear-gradient(top,  #dedede 0%,#f8f8f8 25%,#f8f8f8 75%,#dedede 100%);
				background: linear-gradient(to bottom,  #dedede 0%,#f8f8f8 25%,#f8f8f8 75%,#dedede 100%);
				overflow: auto;
				font-size: 14px;
				p {
					margin: 12px 0 0;
				}
			}
			&.list {
				color: #fff;
				font-size: 14px;
				text-transform: uppercase;
				@media @sm {
					display: block;
					margin: 0;
					width: auto;
					min-height: 0;
					padding: 0 0 20px;
				}
				ol {
					.rul;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					overflow: auto;
					padding: 0 20px 0 50px;
					@media @sm {
						position: static;
					}
					li {
						margin: 15px 0 0;
					}
				}
			}
		}
	}
}
.mod_custom-header {
	.mod-title {
		h1, h2 {
			background: fade(#000,8);
			&:before{
				background: fade(#000,8);
			}
		}
	}
}
.mod_custom-contact {
	.box-shadow(0 0 8px #000);
	position: relative;
	.mod-head {
		.clearfix;
		padding: 22px 0 20px;
		color: #fff;
		background: #797979;
		.mod-title {
			float: left;
			font-size: 18px;
			@media @sm, @xs {
				text-align: center;
				float: none;
				margin: 0 0 10px;
			}
		}
		.button {
			float: right;
			@media @sm, @xs {
				float: none;
				text-align: center;
			}
			a {
				.border-radius(12px);
				position: relative;
				display: inline-block;
				color: @c1;
				background: #fff;
				height: 24px;
				line-height: 24px;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 500;
				padding: 0 30px 0 10px;
				&:hover{
					background: @c2;
					color: #fff;
					&:before{
						border-color: #fff;
					}
				}
				&:before{
					content: '+';
					position: absolute;
					top: 0;
					right: 0;
					padding: 0 7px;
					font-size: 20px;
					border-left: 1px solid #797979;
					.mod_custom-contact-on & {
						content: '-';
					}
				}
			}
		}
	}
	.mod-body {
		.transition(0.6s);
		position: relative;
		overflow: hidden;
		background: #e2e2e2;
		.js & {
			max-height: 0;
		}
		.mod_custom-contact-on & {
			max-height: 900px;
		}
		.row {
			margin-top: 18px;
			margin-bottom: 16px;
		}
		input, textarea{
			margin: 0 0 15px;
		}
		textarea {
			height: 130px;
		}
		input[type="submit"] {
			float: right;
			padding: 0 42px;
		}
		h2 {
			margin: 5px 0 35px;
			font-size: 21px;
		}
		.contact {
			font-size: 13px;
			figure {
				img {
					max-width: 102px;
					float: left;
					margin: 0 10px 15px 0;
				}
			}
		}
	}
}
.mod_newsflash_xart {
	position: relative;
	padding: 23px 0 12px;
	.mod-title {
		font-size: 23px;
		font-weight: 500;
		text-transform: uppercase;
		color: @c2;
		float: left;
		margin: 0 0 37px;
		@media @xs {
			float: none;
			text-align: center;
			margin: 0 0 10px;
		}
	}
	nav {
		float: right;
		margin: 5px 0 37px;
		@media @xs {
			float: none;
			text-align: center;
		}
		ul {
			.rul;
			li {
				.rli;
				display: inline-block;
				font-size: 18px;
				font-weight: 500;
				padding: 0 0 0 32px;
				margin: 0 0 0 25px;
				&:first-child {
					margin-left: 0;
					padding-left: 0;
					&:before{
						display: none;
					}
				}
				&:before{
					.fp;
					.rotate(12deg);
					height: 20px;
					top: 2px;
					border-left: 1px solid @c2;
				}
				a {
					text-decoration: none;
					color: @c2;
					&:hover{
						text-decoration: underline;
					}
				}
			}

		}
	}
	.items {
		clear: both;
		margin: 0 0 0 -65px;
		@media @sm {
			margin-left: -20px;
		}
		.item {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			margin: 0 -4px 10px 0;
			padding: 0 0 0 65px;
			@media @sm {
				padding-left: 20px;
			}
			@media @xs {
				width: 100%;
			}
			figure {
				width: 106px;
				float: left;
				margin: 0 30px 10px 0;
				@media @sm, @xs {
					margin: 0 15px 10px 0;
				}
				img {
					display: block;
				}
			}
			h2 {
				text-transform: uppercase;
				font-size: 15px;
				line-height: 1.3;
				font-weight: 500;
				margin: 0 0 17px;
				@media @sm {
					margin: 0;
				}
				a {
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.mod_xnewsletter {
	position: relative;
	padding: 20px 0;
	color: #fff;
	background: #797979;
	.mod-title {
		float: left;
		text-transform: uppercase;
		font-size: 31px;
		@media @sm, @xs {
			float: none;
			text-align: center;
			margin: 0 0 10px;
		}
	}
	form {
		float: right;
		width: 240px;
		@media @sm, @xs {
			float: none;
			margin: 0 auto;
		}
	}
	[type="text"], [type="email"] {
		text-align: center;
		font-size: 18px;
		border: 0;
	}
}
.mod_custom-products-table {
	position: relative;
	z-index: 102;
	background: #fff;
	table.normal {
		@media @lg, @md, @sm {
			margin: 26px 0 29px;
			table-layout: fixed;
			th,td {
				text-align: center;
				max-width: 200px;
				font-size: 18px;
				padding: 8px;
			}
			th {
				position: relative;
				border: 0;
				padding: 0;
				&.item_01 .image h2 {background: fade(@c2,90);}
				&.item_02 .image h2 {background: fade(@c3,90);}
				&.item_03 .image h2 {background: fade(@c4,90);}
				&.item_04 .image h2 {background: fade(@c8,90);}
				&.item_05 .image h2 {background: fade(@c2,90);}
				.image {
					position: absolute;
					bottom: 26px;
					right: 0;
					left: 0;
					figure {
						.box-shadow(0 0 6px #000);
						position: relative;
						img {
							display: block;
						}
					}
					h2 {
						.box-shadow(0 0 6px #000);
						position: relative;
						z-index: 1;
						font-size: 13px;
						font-weight: bold;
						text-transform: uppercase;
						margin: 0;
						padding: 9px 5px 7px;
						color: #fff;
						background: fade(@c2,90);
					}
				}
			}
		}
	}
}
.mod_custom-products {
	margin: 46px 0;
	.items {
		.item {
			.clearfix;
			margin: 0 0 45px;
			.images {
				float: left;
				width: 385px;
				@media @sm {
					width: 260px;
				}
				@media @xs {
					width: 100px;
					margin: 0 20px 0 0;
				}
				@media @xxs {
					float: none;
					width: auto;
				}
				ul {
					.rul;
					margin: 0 0 0 -12px;
					li {
						.rli;
						display: inline-block;
						vertical-align: top;
						width: 33.3333%;
						margin: 0 -4px 0 0;
						padding: 0 0 12px 12px;
						@media @xs {
							width: 100%;
						}
						@media @xxs {
							width: 25%;
						}
						&:first-child {
							width: 100%;
							@media @xxs {
								width: 25%;
							}
						}
						img {
							display: block;
						}
						a {
							display: block;
							position: relative;
							&:before{
								.box-shadow(inset 1px 1px 6px #000);
								content: '';
								position: absolute;
								left: 0;
								right: 0;
								bottom: 0;
								top: 0;
							}
						}
					}
				}
			}
			.content {
				width: 545px;
				float: right;
				@media @xs {
					float: none;
					width: auto;
				}
				@media @sm {
					width: 460px;
				}
				h2 {
					color: @c2;
					font-size: 24px;
					text-transform: uppercase;
					font-weight: 500;
					margin: 0 0 20px;
				}
			}
		}
	}
}
.mod_banners {
	position: relative;
	background: #eaeaea;
	padding: 0 0 30px;
	ul {
		.rul;
		margin: 0 0 0 -10px;
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			width: 25%;
			margin: 0 -4px 10px 0;
			padding: 0 0 0 10px;
			text-align: center;
			@media @xs {
				width: 50%;
			}
			a {
				text-decoration: none;
				color: @c1;
			}
			h2 {
				font-size: 15px;
				text-transform: uppercase;
				padding: 16px 5px;
				margin: 0;
				color: #fff;
				background: #797979;
			}
			figure {
				background: #fff;
				img {
					display: block;
					margin: auto;
				}
			}
		}
	}
}
#content {
	padding: 40px 0;
}
.mod_breadcrumbs {
	ul {
		.rul;
		margin: 0 0 30px;
		li {
			display: inline-block;
			font-size: 14px;
			margin: 0 7px 5px 0;
			&:first-child {
				padding-left: 0;
				&:before{
					display: none;
				}
			}
			&:before{
				top: -3px;
			}
			a {
				color: @c1;
			}
		}
	}
}